* {
	-fx-font-family: "Andale Mono";
	-fx-font-wrap-text: true;
	-fx-font-size: 1em;
}

.hbox {
	-fx-padding: 10;
	-fx-spacing: 10;
	-fx-alignment: center;
}

.vbox {
	-fx-spacing: 2;
	-fx-font-wrap-text: true;
}

.menu-bar {
	-fx-background-color: #43609c;
	-fx-fill: #FFFFFF;
}

.menu .label{
	-fx-text-fill: #FFFFFF;
}

.menu-item .label{
	-fx-text-fill: black;
}

.menu:focused {
	-fx-background-color: #F9F9F9;
}

.vbox-view {
	-fx-spacing: 15;
}

.code {
	-fx-font-family: "Andale Mono";
}

.text {
    -fx-background-color: #F9F9F9;
}

.text-box {
	-fx-background-color: #d7dfee;
}

.error {
	-fx-fill: #B0171F;
}

.button{
	-fx-text-fill: #FFFFFF;
	-fx-background-color: #43609c;
	-fx-effect: dropshadow(gaussian, rgba(67,96,156,0.25) , 0,0,2,2 );
}

.combo-box {
	-fx-text-fill: #43609c;
	-fx-background-color: #d7dfee;
}

.combo-box-base {
	-fx-text-fill: #43609c;
	-fx-background-color: #d7dfee;
	
}
.label {
   	-fx-font-size: 1em;
   	-fx-wrap-text: true;
}

.view {
	-fx-padding: 5;
}

#agent-view {
	-fx-border-color: black;
	-fx-border-width:1;
	-fx-border-style: solid;
}

.check-box {
	-fx-mark-color: #43609c;
	-fx-alignment: center-left;
}
.radio-button {
	-fx-mark-color: #43609c;
}

.result {
	-fx-fill: #43609c;
	-fx-font-weight: bold;
}

.window-view {
	-fx-alignment: center;
}