.hbox {
    	-fx-padding: 10;
    	-fx-spacing: 10;
    	-fx-alignment: center;
}
.code {
	-fx-font-family: "Andale Mono";
}

.text {
    	-fx-background-color: #F9F9F9;
}

.textBox {
	-fx-background-color: #F0F0F0;
}