.hbox {
    	-fx-padding: 10;
    	-fx-spacing: 10;
    	-fx-alignment: center;
}
.code {
	-fx-font-family: "Andale Mono";
}

.text {
    -fx-background-color: #F9F9F9;
}

.textBox {
	-fx-background-color: #F0F0F0;
}

.error {
	-fx-fill: #B0171F;
}

.button{
	-fx-font-family: "Andale Mono";
	-fx-padding: 6;
   	-fx-font-size: 1em;
	-fx-text-fill: #FFFFFF;
	-fx-background-color: #43609c;
	-fx-effect: dropshadow(gaussian, rgba(67,96,156,0.25) , 0,0,2,2 );
}